html {
    font-family: 'Varela Round', sans-serif;
    background-color: RGB(220, 220, 220);
}

body {
    width: 60em;
    margin: auto;
    margin-top: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 0.1em;
    padding-bottom: 1.5em;
    background-color: RGB(255, 255, 255);
}

nav {
  padding-top: 1em;
  padding-bottom: 1.5em;
}

nav li {
  list-style-type: none;
  display: inline;
  border-style: solid;
  border-color: RGB(220, 220, 220);
  border-width: 1px;
  padding-left: 0.3em;
  padding-right: 0.3em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  border-radius: 50px;
}

nav li:nth-child(1) {
  margin-left: -2.5em;
}

nav li:nth-child(2) {
  margin-left: 1em;
}

h1 {
  color: RGB(38, 50, 56);
  font-weight: 900;
}

h2 {
  margin-top: -0.75em;
  margin-bottom: 2.5em;
  color: RGB(207, 216, 220);
  font-weight: 100;
  font-size: 1.4em
}

h3 {
  color: RGB(120, 144, 156);
}

p {
  color: RGB(38, 50, 56);
  padding-bottom: 1em;
}

li {
  padding-bottom: 0.1em;
}

a:link {
  text-decoration: none;
  color: RGB(38, 50, 56);
}

a:hover {
  text-decoration: none;
  color: RGB(30, 136, 229);
}

a:visited {
  text-decoration: none;
  color: RBG(38, 50, 56);
}

a:active {
  text-decoration: none;
  color: RGB(21, 101, 192);
}
